<header>
	<div id="menu" class="row-limit-size">
		<ul>
			<li><a href="{{root}}/">Accueil</a></li>
			<li><a href="{{root}}/detenus">Détenus</a></li>
			<li><a href="{{root}}/categ">Catégories</a></li>
			<li><a href="{{root}}/articles">Articles</a></li>
		</ul>
	</div>
	<div id="barre-search">
		<form action="#" method="GET">
			<input type="search" name="recherche" placeholder="Cherchez sur TumbFlow">
			<input type="submit" name="submit" id="submit" value="">
		</form>
		<a href="./index.html" id="logo"><img src="./View/Templates/accet/logo.png" alt=""></a>
		<div>
			<button>connexion</button>
			<button>Inscription</button>
		</div>
	</div>
	<figure id="burger"><img src="./View/Templates/accet/burger.png" alt="Image barres du menu burger."></figure>

	<a href="./index.html" id="logo-x"><img src="./View/Templates/accet/logo.png" alt=""></a>
</header>
